 .slider {
	 width: 85%;
     max-width: 100%;
	 height: 300px;
	 box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
     position: relative;
     margin: 0 auto;
}
 .slider .wrapper {
	 overflow: hidden;
	 position: relative;
	 width: 100%;
	 height: 300px;
	 z-index: 1;
}
 .slider .slides {
	 display: flex;
	 position: relative;
	 top: 0;
	 left: 0;
	 width: 100%;
}
 .slider .slides.shifting {
	 transition: left 0.2s ease-out;
}
 .slider .slide {
    width: 100%;
	 height: 300px;
	 cursor: pointer;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 transition: all 1s;
	 position: relative;
	 background-color: #ffcf47;
	 border-radius: 2px;
     flex: 0 0 100%;
	 background-size: cover;
}
 .slide:nth-child(0) {
	 background-color: #ffcf47;
}
 .slide:nth-child(1) {
	background-color: #7adcef;
}
 .slide:nth-child(2) {
	 background-color: #3cff96;
}
 .slide:nth-child(3) {
	 background-color: #a78df5;
}
 .slide:nth-child(4) {
	 background-color: #ff8686;
}
 .control {
	 position: absolute;
	 top: 50%;
	 width: 50px;
	 height: 50px;
	 background: #fff;
	 border-radius: 50px;
	 margin-top: -20px;
	 box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	 z-index: 2;
}
 .prev, .next {
	 background-size: 22px;
	 background-position: center;
	 background-repeat: no-repeat;
	 cursor: pointer;
}
 .prev {
	 background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
	 left: -20px;
}
 .next {
	 background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
	 right: -20px;
}
 .prev:active, .next:active {
	 transform: scale(0.8);
}

.slider .wrapper {
    margin: 2em auto 0;
}

.slider:before {
    content: '';
    background-image: url('../img/binding.png');
    position: absolute;
    height: 91%;
    width: 49px;
    display: block;
    top: 5%;
    left: -23px;
    z-index: 2;
}

@media(min-width:1200px) {
    .slider,
    .slider .slide,
    .slider .wrapper {
        height: 600px;
		width: 100%;
		max-width: 765px;
    }
}